<div class="bg-yellow-300 h-full w-full">
  <form (ngSubmit)="addTodo()">
    <div
      class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans"
    >
      <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
          <h1 class="text-grey-darkest">Todo List</h1>
          <div class="flex mt-4">
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
              placeholder="Add Todo"
              [(ngModel)]="description"
              name="description"
            />
            <button
              type="submit"
              class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal"
            >
              Add
            </button>
          </div>
        </div>
        <div>
          <ng-container *ngFor="let item of list">
            <div class="flex mb-4 items-center">
              <p class="w-full text-grey-darkest">
                {{ item.description }}
              </p>
              <button
                type="button"
                class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red"
                (click)="remove(item.id)"
              >
                Remove
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>
